:root {
    box-sizing: border-box;
    transition: all .5s ease-out;
}

*,
::before,
::after {
    box-sizing: inherit;
    transition: inherit;
}

/*
 GLOBAL MOBILE FIRST
*/

body {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    margin: 0;
}

h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2 {
    font-size: 1.5em;
    margin: .9em 0 0 0;
}

figure {
    background-color: black;
    border-radius: .4em;
    color: white;
    padding: .8em;
    text-align: center;
    margin: 0 0 .9em 0;
}

img {
    flex: 1;
    max-width: 100%;
    object-fit: cover;
}

.container {
    margin: 0 .5em;
}

/*

FLEX FIGURE
*/

figure {
    display: flex;
    flex-direction: column;
}

/*
EFFECTS
*/
figure:hover {
    transition-duration: 1.5s;
    background-color: red;
    cursor: pointer;

}

/*
TABLET
*/

@media screen and (min-width: 768px) {
    body {
        background-color: rgba(0, 0, 255, .2);
    }

    figure {
        flex: 45%;

    }

    section::after {
        display: block;
        content: "";
        width: calc(50% - 1.5em);
        box-sizing: inherit;
        margin-right: 1.5em;
        visibility: hidden;

    }

    .kittens > figure {
        margin-right: 1.5em;
    }

    .kittens {
        display: flex;
        flex-wrap: wrap;

    }

    .kittens {
        margin-right: -1.5em;
    }

    /*.kittens::after {*/
    /*    content: "";*/
    /*    clear: both;*/
    /*    display: block;*/
    /*}*/
}

/*
DISPOSITIVO PC
*/

@media screen and (min-width: 1024px) {
    body {
        background-color: rgba(0, 255, 0, .2);
    }

    .container {
        max-width: 1024px;
        margin: 0 auto;
        background-color: white;
        padding: .1em 1.5em;
    }

}